body {
    background-color: #AB70DF;
}

h1,
p,
a,
a:hover {
    color: white;
    text-shadow: 5px 10px 18px #040000bf;
    text-decoration: none;
}

#equalBtn {
    background-color: #F84D4D;
    position: relative;
    height: 50px;
}

#calculator {
    margin: 5% 0;
}

.col-body {
    background-color: #2C2F38;
    border-radius: .25rem;
    box-shadow: 5px 10px 18px #040000bf;
}

#result {
    background-color: #34304D;
    color: white;
    text-align: right;
    height: 100px;
    border: 0px;
    font-size: 28px;
    font-weight: 300;
}

/* .buttons {
    padding: 15px 0;
} */

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline;
}

li .btn {
    padding: 10px 45px;
    background-color: #2C2F38;
    border: 0px;
    text-align: center;
}

li .btn:hover,
li .btn:focus,
li .btn:active {
    background-color: #2C2F38;
}

@media only screen and (max-width: 600px) {
    li .btn {
        padding: 10px 25px;
    }
}

.buttons .row {
    margin-top: 10px;
}

.buttons button {
    background-color: #2C2F38;
    border: 0px;
    width: 100%;
    padding: 10px;
    border-radius: 0px;
}

.buttons button:hover,
.buttons button:focus,
.buttons button:active,
.buttons button:visited {
    background-color: #2C2F38;
}